<app-header [hasHomeBtn]="true"></app-header>
<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="height: calc(100vh - 5.5rem);">
        <div class="card-header">
          <h5 class="m-0">TABLES</h5>
        </div>
        <div class="card-body overflow-auto p-1">
          <div *ngIf="isTablesDataLoading">
            <h5 class="d-inline mr-2">Loading data...</h5>
            <div class="spinner-border" role="status"></div>
          </div>
          <div class="list-group">
            <button *ngFor="let table of tables" type="button"
              class="list-group-item list-group-item-action d-flex justify-content-between"
              (click)="onClickTable(table)" [ngClass]="{'active': table.tableName === selectedTable?.tableName}">
              <h6 class="m-0">{{ table.tableName }}</h6>
              <div>
                <input (change)="onCheckTable(table)" type="checkbox" [id]="table.tableName"
                  [checked]="table.isChecked">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="height: calc(100vh - 5.5rem);">
        <div class="card-header d-flex justify-content-between">
          <h5 class="m-0">TABLE COLUMNS</h5>
          <input *ngIf="selectedTable?.isChecked" [checked]="true" class="mr-2 mt-2" type="checkbox"
            (click)="onCheckAllColumns()">
        </div>
        <div class="card-body overflow-auto p-1">
          <div *ngIf="isColumnsDataLoading">
            <h5 class="d-inline mr-2">Loading data...</h5>
            <div class="spinner-border" role="status"></div>
          </div>
          <ul class="list-group">
            <li *ngFor="let column of selectedTable?.columns" class="list-group-item d-flex justify-content-between">
              <h6 class="m-0">{{ column.columnName }}</h6>
              <div *ngIf="selectedTable.isChecked">
                <input type="checkbox" [id]="column.columnName" [checked]="column.isChecked"
                  (change)="column.isChecked = !column.isChecked">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="height: calc(100vh - 5.5rem);">
        <div class="card-header">
          <h5 class="m-0">SELECTED TABLES AND COLUMNS</h5>
        </div>
        <div class="card-body overflow-auto p-1">
          <ul class="list-group">
            <div *ngFor="let table of tables">
              <li *ngIf="table.isChecked" class="list-group-item">
                <h6 class="mb-2"><b>Table name:</b> {{ table.tableName }}</h6>
                <p>
                  <b>Columns:</b>
                  <span *ngFor="let column of table.columns; let i = index" [hidden]="!column.isChecked">
                    {{ column.columnName }}<span *ngIf="isSemicolumnNeeded(table.columns, i)">,</span>
                  </span>
                </p>
              </li>
            </div>
          </ul>
        </div>
        <div class="card-footer d-flex flex-row-reverse">
          <button type="button" class="btn btn-primary" [disabled]="isGenrateButtonDisabled()"
            (click)="onGenerateFiles()">
            Generate models
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Generating... </p>
</ngx-spinner>

<swal #successSwal title="The generation is successful" icon="success">
</swal>

<swal #errorSwal icon="error" [allowOutsideClick]="false" (confirm)="redirectOnError()">
  <div *swalPortal="swalTargets.title">
    <h4>{{ errMsg }}</h4>
  </div>
</swal>
