<app-header></app-header>
<div class="mt-5 d-flex justify-content-center">
  <div style="width: 350px;" routerLink="./db-connection" class="way-button border border-dark mr-5 p-3 text-center">
    <img style="width: 250px;" alt="database" src="https://img.icons8.com/wired/344/database.png" lazy="loaded">
    <h5 class="mt-4">GENERATION FROM DATABASE</h5>
  </div>
  <div style="width: 350px;" routerLink="./custom-generation" class="way-button border border-dark p-3 text-center">
    <img style="width: 250px;" alt="pen" src="https://img.icons8.com/pastel-glyph/344/ball-point-pen--v1.png" lazy="loaded">
    <h5 class="mt-4">CUSTOM GENERATION</h5>
  </div>
</div>
