<app-header [hasHomeBtn]="true"></app-header>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form #form="ngForm">
        <div class="form-group">
          <label for="db-type">Database type</label>
          <ng-select id="db-type" name="db-type" [(ngModel)]="selecteDbType" [items]="databaseTypes"
            (change)="onDbTypeChange()" placeholder="Database type">
          </ng-select>
        </div>
        <app-mysql-connection-form *ngIf="selecteDbType === DATABASE_TYPES.MYSQL" [mySqlConnectionData]="dbFormModel"
          (validEmitter)="onFormValidChange($event)">
        </app-mysql-connection-form>
        <div class="d-flex justify-content-between mt-3">
          <button *ngIf="selecteDbType" [disabled]="!isDbFormValid" type="button" class="btn btn-primary"
            (click)="onTestConnection()">
            Test connection
          </button>
          <button *ngIf="isTestSuccessful" routerLink="../db-metadata" type="button" class="btn btn-success">
            Show database metadata
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
